.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    margin-top: 30px;
    padding: 30px;
    width: 220px;
    height: 260px;
}