.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  height: 100%;

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 40px;

    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      margin-left: 20px;
    }

    img {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.content__sneakers {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;

  .orderTitle {
    font-weight: 700;
    font-size: 20px;

  }

  .sneakerWrapper {
    margin-left: 20px;
    margin-bottom: 30px;
  }

}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  flex: 1;

  .emptyHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    img {
      margin-bottom: 20px;
    }

    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
    }
  }
}

.emptyFooter {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    opacity: 0.4;
    margin-bottom: 40px;

  }

  .greenButton {
    width: 245px;
    height: 55px;
    margin-top: 30px;
    position: relative;

    img {
      position: absolute;
      left: 30px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }
  }
}


.greenButton {
  width: 325px;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: lighten($color: #9DD558, $amount: 5%);
  }

  &:active {
    background: darken($color: #9DD558, $amount: 5%);
  }
}