.containerSlider {
    position: relative;
    margin: 40px 60px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);

    .slides {
        max-height: 300px;
        overflow-y: hidden;
        transition: all 0.4s;

        .slideItem {
            display: flex;
            flex: 100;
            align-items: center;

            .slideContent {
                flex: 40;
                margin-left: 60px;
                margin-right: 18px;

                .slideTitle {
                    font-family: "Inter", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 38px;
                    line-height: 46px;
                    color: #8BB43C;
                }
            }

            .slideImg {
                height: 300px;
                width: 642px;
                flex: 60;


                img {
                    border-radius: 20px;
                    overflow: hidden;
                }
            }
        }
    }

    button {
        position: absolute;
        top: 45%;
        height: 35px;
        width: 35px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        z-index: 2;

        svg {
            opacity: 0.4;
        }

        &:hover {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);

            svg {
                opacity: 0.9;
            }
        }
    }

    .changeSlidePrev {
        left: -20px;
    }

    .changeSlideNext {
        right: -20px;
    }

}